body {
	margin: 0;
}

h2 {
	font-size: 18px;
	margin-bottom: 0;
}

h3 {
	font-size: 16px;
	margin-bottom: 0;
}

hr {
	margin-top: 0;
}

p {
	margin-top: 0;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
