h2 {
	font-size: 18px;
	margin-bottom: 0;
}

h3 {
	font-size: 16px;
	margin-bottom: 0;
}

hr {
	margin-top: 0;
}

p {
	margin-top: 0;
}

img {
	width: 220px;
}

.left-column {
	float: left;
	width: 220px;
	margin-right: 20px;
}


.right-column {
	margin-left: 240px;
}

.container {
	width: 960px;
	margin: 0 auto;
}